---
layout: default
---

<div class="home">

  <div style="position:relative">
    <img src="images/home_page.jpg" alt="Home Page Image of a brain and mind" style="width:100%">
    <h1 style="position: absolute; top: 40%;left: 50%;transform: translate(-50%, -50%);">{{ site.title }}</h1>
    <center><h1 style="position: absolute; top: 60%; left: 50%;transform: translate(-50%, -50%);">{{ site.tagLine }}</h1></center>
  </div>
  <br>
  <br>

  {{ content }}

  <div class="home-page-grid-container">
    <div class="home-page-grid-item">
      <a href="/eyetracking_website/projects/SunBreheny.html">
        <div style = "position: relative;">
          <img src="images/sun-breheny-2020-intro-page.jpg" alt="Example Screen image from Sun and breheny 2020 experiment" class="home-page-project-image">
          <p class="home-page-project-name"> Sun & Breheny 2020 </p>
      </div></a>
    </div>
    <div class="home-page-grid-item">
      <a href="/eyetracking_website/projects/RyskinEtAl.html">
        <div class="home-page-text-and-image" style="position: relative; width:100%; height:100%">
          <img src="images/ryskin-et-al-2019-intro-page.jpg" alt="Example screen image from ryskin et al 2019 experiment" class="home-page-project-image" style="object-fit:fill;">
          <p class="home-page-project-name"> Ryskin et al. 2019</p>
        </div>
      </a>
    </div>
    <div class="home-page-grid-item">
      <a href="/eyetracking_website/projects/LeffelEtAl.html">
        <div style = "position: relative;">
          <img src="images/leffel-et-al-2016-intro-page.jpg" alt="Example screen image from Leffel et al. 2016 experiment" class="home-page-project-image">
          <p class="home-page-project-name"> Leffel et al. 2016</p>
        </div>
      </a>
    </div>
  </div>
