---
layout: default
---



<html>

  <body>

    {% assign allOutput = site.data.bibliography %}

    <h2> TO DO </h2>
    - do we want presentations section? (+ link to posters/slides)
    - once website is integrated into repo, change links
    <br>
    <br>

    <h2> Publications </h2>

    {% for output in allOutput %}
      <p>
        <a href="{{ output.website }}">{{ output.title }}</a>. {{ output.author }}. ({{ output.year }}).
        In <i>{{ output.booktitle }}</i>. {{ output.doi }}
      </p>
      <button onclick="showOutput('abstract_{{ output.id | slugify }}')">Abstract</button>
      <button onclick="showOutput('bibtex_{{ output.id | slugify }}')">bibtex</button>

      <div id="abstract_{{ output.id | slugify }}" style="display:none"><p>{{output.abstract}}</p></div>
      <div id="bibtex_{{ output.id | slugify }}" style="display:none">
        @{{ output.type }}{ {{ output.id }},
        <p style="margin-left:20px">
          author = { {{ output.author }} }, <br>
          url = { {{ output.website }} }, <br>
          year = { {{ output.year }} }, <br>
          booktitle = { {{ output.booktitle }} }, <br>
          title = { {{ output.title }} } }
        </p>
      </div>
      <br>
      <br>

    {%- endfor -%}
  </body>
</html>


<script>
function showOutput(input) {
  outputName = String(input);
  var x = document.getElementById(outputName);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<!--


    {% assign allOutput = site.data.bibliography %}
    {% for output in allOutput %}

    [{{ output.title }}]({{ output.website }}). {{ output.author }}. ({{ output.year }}). In *{{ output.booktitle }}*. {{ output.doi }}

    {%- endfor -%} -->
